html {
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: $font-stack-lato;
  color: $dark-grey !important;
}

a {
  color: inherit;
  &:hover {
    color: $dark-red !important;
  }
}

#loginModal {
  .modal-header {
    border-bottom: none;
    padding: 1rem 1rem 0 1rem;
  }

  .modal-footer {
    border-top: none;
    padding-top: 0;
  }
}

.btn-primary {
  @extend %btn-primary;
}

.btn-outline {
  @extend %btn-outline;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle{
  background-color: $dark-red;
  border-color: $dark-red;
  color: darken($white, 10) !important;
}