html {
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: $font-stack-lato;
  color: $dark-grey !important;
}

a {
  color: inherit;
  &:hover {
    color: $dark-red !important;
  }
}