@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Poppins');

h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
  font-family: "Poppins", "Roboto", "Arial", "sans-serif";
  font-weight: bold;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
}

h5 {
  font-size: $h5;
}

h6 {
  font-size: $h6;
}

blockquote {
  font-style: italic;
  line-height: 1.2;
}