@include heading-underline;

#about {
  @extend %wrapper-padding;
  background-color: lighten($grey, 10);

  @extend %about-section;
}

#niche-studio {
  @extend %wrapper-padding;

  .headul {
    &::before, &::after {
      margin: 0 !important;
    }
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style: none;
  }

  .box {
    padding: 30px;
    box-shadow: 0 3px 20px 0 rgba(204, 204, 204, 0.75);
  }

  .niche {
    @media only screen and (max-width: 767px) {
      margin-bottom: 40px;
    }
  }
}