@include heading-underline;

#about {
  @extend %wrapper-padding;
  background-color: lighten($grey, 10);

  @extend %about-section;
}

#niche-studio {
  @extend %wrapper-padding;

  li {
    list-style: none;
  }

  .niche {
    @media only screen and (max-width: 767px) {
      margin-bottom: 40px;
    }
  }
}