@mixin social-links {
  .social-media__link {
    display: flex;
    // flex-grow: 1;
    padding-left: 1rem;

    .social-media__icon {
      width: auto;
      padding: 3px;
      text-align: center;
      border-radius: 5px;
      margin-right: 10px;
    }

    i {
      color: $white;
    }

    .social-media__icon--facebook {
      background-color: #4267b2;
      &:hover {
        background-color: darken(#4267b2, 10);
      }
    }

    .social-media__icon--twitter {
      background-color: #1da1f2;
      &:hover {
        background-color: darken(#1da1f2, 10);
      }
    }

    .social-media__icon--linkedin {
      background-color: #0073b1;
      &:hover {
        background-color: darken(#0073b1, 10);
      }
    }

    .social-media__icon--instagram {
      background-color: #d10869;
      &:hover {
        background-color: darken(#d10869, 10);
      }
    }

    i.fab {
      width: 25px;
      height: 20px;
    }
  }
}

@mixin contact {
  .contact {
    display: flex;
    margin-right: 25px !important;

    @media only screen and (max-width: $breakpoint-xs) {
      flex-direction: column;
      text-align: center;
      margin-top: 10px;
      margin-right: 0 !important;
      padding: 0;
    }

    @media only screen and (max-width: 350px) {
      flex-direction: column;
      text-align: center;
      margin-top: 10px;
      margin-right: 0 !important;
      padding: 0;
    }

    @media only screen and (max-width: 767px) {
      margin-top: 10px !important;
      margin-right: 0 !important;
      padding: 0;
    }

    .contact__list {
      &:last-child {
        margin-left: 20px;

        @media only screen and (max-width: $breakpoint-xs) {
          margin-left: 0;
        }
      }
    }
  }
}

@mixin heading-underline {
  .headul {
    margin: 30px auto 50px auto;

    &:before {
      content: " ";
      width: 220px;
      height: 2px;
      background-color: $red;
      margin: 0 auto;
      display: block;
    }

    &:after {
      margin: 0 auto;
      content: " ";
      width: 60px;
      height: 6px;
      background-color: $red;
      display: block;
    }
  }
}

@mixin brands {
  .brand-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .image-wrapper {
      max-width: 100px;
      width: 100%;
      margin: 10px 20px;
    }
  }
}